dfmessenger {
  --df-messenger-bot-message: grey;
  --df-messenger-button-titlebar-color: sandybrown;
  --df-messenger-button-titlebar-font-color: white;
  --df-messenger-chat-background-color: silver;
  --df-messenger-font-color: white;
  --df-messenger-input-box-color: white;
  --df-messenger-input-font-color: black;
  --df-messenger-input-placeholder-font-color: lightgrey;
  --df-messenger-minimized-close-icon-color: white;
  --df-messenger-send-icon: black;
  --df-messenger-user-message: purple;
}